.battle-main {
  background-color: #9a9999;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.health-main {
  height: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-flow: row-reverse;
  justify-content: space-between;
}
.health-own-bar {
  background-color: aqua;
}
.health-enemy-bar {
  background-color: #be6e6e;
}
.health-own-bar-name {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  margin-top: 2px;
}
.health-enemy-bar-name {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  margin-top: 2px;
}
.health-own-bar-value {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  margin-top: 2px;
}
.health-enemy-bar-value {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  margin-top: 2px;
}
.health-own-bar-level {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  margin-top: 2px;
}
.health-enemy-bar-level {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  margin-top: 2px;
}
.health-own-bar-value-text {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  margin-top: 2px;
}
.health-enemy-bar-value-text {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  margin-top: 2px;
}
.health-own-bar-level-text {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  margin-top: 2px;
}
.health-enemy-bar-level-text {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  margin-top: 2px;
}

.battle-controls {
  background-color: #1d2458;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.battle-controls-skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100px;
  background-color: #404993;
  border-radius: 5px;
  cursor: pointer;
}
.battle-controls-skill:hover {
  background-color: #7fade1;
}
.battle-controls-skill-icon {
  height: 50px;
  width: 50px;
  margin-bottom: 10px;
}
.battle-controls-skill-name {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}
.battle-controls-skill-desc {
  font-size: 12px;
  text-align: center;
}


